// Variables
$min-width:				   280px; 
$max-width:				   1024px;

// Fonts
$primary-fonte:			   'Open Sans', sans-serif;
$secundary-fonte:          'Source Sans Pro';
$regular:                  400;
$bold:                     600;
$black:                    900;

// Colours
$primary-color:        	   #000000; // Preto
$secondary-color:      	   #ffffff; // Branco
$tertiary-color:       	   #00376b; // Azul
$quaternary-color:         #f36f20; // Laranja Claro
$quinary-color:       	   #e34f1f; // Laranja Escuro
$senary-color:			   #707070; // Cinza
$septenary-color:		   #76388f; // Roxo
$octonary-color:		   #e4b200; // Amarelo


// Title


// Text
$text-color: 	       	   #707070; // Cinza


// Button
$primary-button-light:     #f4af0c; // Amarelo Claro
$primary-button-dark:      #e39e0a; // Amarelo Claro


// Footer 


// Sliders & Carousels

